body {
    background-image: url("assets/img/Portfolio-background.jpg");
    background-color: lavender;
    background-size: 100%;
}

header {
    background-color: #36454F;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    padding: 0 50px 0 0;
}

/* header a {
    text-decoration: none;
    color: darkgoldenrod;
    padding-left: 50px;
} */

header nav {
    margin: 10px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* header nav ul li a */

.nav-link {
    font-weight: bold;
    font-size: 28px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 0px 50px 0 50px;
}

.active {
    color: lightblue;
}

/* .project1 {
    justify-content: center;
    display: inline-block;
} */

.portrait {
    display: flex;
}

.portrait img {
    padding: 20px 0 40px 20px;
}

.about-me {
    padding: 65px 50px 0 50px;
    font-size: 20px;
    line-height: 30px;
}

.about-me h2 {
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact a {
    text-decoration: none;
}

.section-title {
    font-size: 20px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
}

.contact-form {
    padding-left: 20%;
}
.contact-form input, .contact-form textarea {
    border: 1px solid black;
    display: block;
    padding: 6px 30px;
    font-size: 16px;
    color: darkcyan;
    margin: 5px 0 15px 20px;
    border-radius: 10px;
    background-color: white;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #36454F;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.projects {
    margin-left: 100px;
}

.projects h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column p {
    margin-right: 90px;
}

.column a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.resume {
    text-align: center;
}

.skills {
    padding-left: 20%;
}
footer {
    background-color: white;
    padding: auto;
}

footer a {
    padding: 5px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.copyright {
    display: inline;
    padding: 30px 20px 0 0;
    font-weight: bold;
    float: right;
}