body {
    background-image: url("assets/img/Portfolio-background.jpg");
    background-color: lavender;
    background-size: 100%;
}

header {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    padding: 0 50px 0 0;
}

/* header a {
    text-decoration: none;
    color: darkgoldenrod;
    padding-left: 50px;
} */

header nav {
    margin: 10px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: bold;
    font-size: 28px;
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 0px 50px 0 50px;
}